USE [master]
GO
/****** Object:  Database [Vending machine data base]    Script Date: 04.02.2022 12:36:25 ******/
CREATE DATABASE [Vending machine data base]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vending machine data base', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vending machine data base.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vending machine data base_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vending machine data base_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vending machine data base].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vending machine data base]
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 04.02.2022 12:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nominal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 04.02.2022 12:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Image] [varbinary](max) NULL,
	[Cost] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vending Machine Coins]    Script Date: 04.02.2022 12:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vending Machine Coins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vending Machine Id] [int] NOT NULL,
	[Coins Id] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vending Machine Drinks]    Script Date: 04.02.2022 12:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vending Machine Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vending Machine Id] [int] NOT NULL,
	[Drinks Id] [int] NOT NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vending Machines]    Script Date: 04.02.2022 12:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vending Machines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Secret Code] [varbinary](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coins] ON 

INSERT [dbo].[Coins] ([Id], [Nominal]) VALUES (1, 1)
INSERT [dbo].[Coins] ([Id], [Nominal]) VALUES (2, 2)
INSERT [dbo].[Coins] ([Id], [Nominal]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[Coins] OFF
GO
SET IDENTITY_INSERT [dbo].[Drinks] ON 

SET IDENTITY_INSERT [dbo].[Drinks] OFF
GO
SET IDENTITY_INSERT [dbo].[Vending Machine Coins] ON 

INSERT [dbo].[Vending Machine Coins] ([Id], [Vending Machine Id], [Coins Id], [Count], [IsActive]) VALUES (1, 1, 1, 34, 1)
INSERT [dbo].[Vending Machine Coins] ([Id], [Vending Machine Id], [Coins Id], [Count], [IsActive]) VALUES (2, 1, 2, 23, 1)
INSERT [dbo].[Vending Machine Coins] ([Id], [Vending Machine Id], [Coins Id], [Count], [IsActive]) VALUES (3, 1, 3, 15, 1)
SET IDENTITY_INSERT [dbo].[Vending Machine Coins] OFF
GO
SET IDENTITY_INSERT [dbo].[Vending Machine Drinks] ON 

INSERT [dbo].[Vending Machine Drinks] ([Id], [Vending Machine Id], [Drinks Id], [Count]) VALUES (1, 1, 1, 53)
INSERT [dbo].[Vending Machine Drinks] ([Id], [Vending Machine Id], [Drinks Id], [Count]) VALUES (2, 1, 2, 45)
INSERT [dbo].[Vending Machine Drinks] ([Id], [Vending Machine Id], [Drinks Id], [Count]) VALUES (4, 1, 3, 43)
SET IDENTITY_INSERT [dbo].[Vending Machine Drinks] OFF
GO
SET IDENTITY_INSERT [dbo].[Vending Machines] ON 

INSERT [dbo].[Vending Machines] ([Id], [Secret Code]) VALUES (1, NULL)
INSERT [dbo].[Vending Machines] ([Id], [Secret Code]) VALUES (2, NULL)
INSERT [dbo].[Vending Machines] ([Id], [Secret Code]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[Vending Machines] OFF
GO
ALTER TABLE [dbo].[Vending Machine Coins]  WITH CHECK ADD FOREIGN KEY([Coins Id])
REFERENCES [dbo].[Coins] ([Id])
GO
ALTER TABLE [dbo].[Vending Machine Coins]  WITH CHECK ADD FOREIGN KEY([Vending Machine Id])
REFERENCES [dbo].[Vending Machines] ([Id])
GO
ALTER TABLE [dbo].[Vending Machine Drinks]  WITH CHECK ADD FOREIGN KEY([Drinks Id])
REFERENCES [dbo].[Drinks] ([Id])
GO
ALTER TABLE [dbo].[Vending Machine Drinks]  WITH CHECK ADD FOREIGN KEY([Vending Machine Id])
REFERENCES [dbo].[Vending Machines] ([Id])
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD CHECK  (([Cost]>(0)))
GO
USE [master]
GO
